@import "tailwindcss";

@theme {
  --font-suit: var(--font-suit), sans-serif;

  /* Primary Colours */
  --color-black: #141414;
  --color-white: #f9f9f9;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f6f4f1;
  --color-gray-200: #ebe9e5;
  --color-gray-300: #dad8d3;
  --color-gray-400: #afadaa;
  --color-gray-500: #807f7c;
  --color-gray-600: #636260;
  --color-gray-700: #51504f;
  --color-gray-800: #373635;
  --color-gray-900: #272625;

  --color-primary-50: #ffede1;
  --color-primary-100: #ffbe92;
  --color-primary-200: #ff9752;
  --color-primary-300: #ff7b23;
  --color-primary-400: #ff6600;
  --color-primary-500: #e55c00;
  --color-primary-600: #d65600;
  --color-primary-700: #b84a00;
  --color-primary-800: #702d00;
  --color-primary-900: #331400;

  /* Supporting Colours */
  --color-error-50: #fef2f2;
  --color-error-100: #fee2e2;
  --color-error-400: #fca5a5;
  --color-error-600: #dc2626;
  --color-error-700: #b70808;
  --color-error-800: #991b1b;

  --color-warning-50: #fefce8;
  --color-warning-100: #fef9c3;
  --color-warning-200: #fde047;
  --color-warning-300: #eab308;
  --color-warning-500: #713f12;

  --color-success-50: #cee28d;
  --color-success-100: #98ca8d;
  --color-success-400: #63b068;
  --color-success-700: #247e5a;
  --color-success-900: #00444d;
}

/* Typography */
@utility text-display-lg {
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.02em;
}
@utility text-display-md {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
}
@utility text-display-sm {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
}

/* Headings */
@utility text-heading-lg {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.02em;
}
@utility text-heading-sm {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.02em;
}

/* Body */
@utility text-body-lg {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
}
@utility text-body-md {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.02em;
}
@utility text-body-sm {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.02em;
}

/* Caption */
@utility text-caption-lg {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
}
@utility text-caption-sm {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
}
